.form-send {
  background: transparent;
  display: flex;
  justify-content: space-between;


  &__send-button {
    background-color: #ecf0f3;
    border: 0 solid #e2e8f0;
    border-radius: 1.5rem;
    box-sizing: border-box;
    color: #0d172a;
    cursor: pointer;
    display: inline-block;
    font-family: "Montserrat", sans-serif;
    font-size: 1.1rem;
    font-weight: 600;
    line-height: 1;
    padding: 1rem 1.6rem;
    text-align: center;
    text-decoration: none #0d172a solid;
    transition: all .1s cubic-bezier(.4, 0, .2, 1);
    box-shadow: 0 1px 2px rgba(166, 175, 195, 0.25);
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
  }

  &__send-button:hover {
    background-color: #4B70E2;
    color: #fff;
  }

  @media (min-width: 768px) {
    .send-button {
      font-size: 1.125rem;
      padding: 1rem 2rem;
    }
  }

  &__send-input {
    border-width: 1px;
    font-family: "Montserrat", sans-serif;
    font-size: 1.1rem;
    line-height: 1;
    padding: 1rem 1.6rem;
    width: 72%;
    border-color: #f1f1f1;
    background-color: #FFFFFF;
    color: #000000;
    border-style: solid;
    border-radius: 1.5rem;
    box-shadow: 0 1px 2px rgba(166, 175, 195, 0.25);
  }

  &__send-input:focus {
    outline: none;
  }

}
