$bg-white: #f1f3f6;
$bg-title: #060A12;
$bg-card: #9dabc0;
$bg-purple: rgba(#929cd0, .8);
$size-card: 300px;

// Placeholders
%center {
  display: flex;
  justify-content: center;
  align-items: center;
}

// HTML
section {
  background-color: var(--theme-color-blue);
  font-family: 'Roboto', sans-serif;
  color: rgba(51, 51, 51, 1);
  padding: 0;
}

.container {
  width: 100%;
  height: 50vh;
  @extend %center;
}

.title {
  margin: 2em 10em;
  justify-content: center;
  flex-direction: column;

  & h2 {
    font-family: 'Montserrat', serif;
    font-weight: 700;
    font-size: xx-large;
    text-transform: uppercase;
    color: $bg-title
  }
}

.box {
  @extend %center;
  flex-direction: column;
  width: $size-card;
  height: $size-card*1.4;
  background: $bg-white;
  border-radius: 20px;
  box-shadow:
    inset 0 0 15px rgba(55, 84, 170, 0),
    inset 0 0 20px rgba(255, 255, 255, 0),
    7px 7px 15px rgba(55, 84, 170, .15),
    -7px -7px 20px rgba(255, 255, 255, 1),
    inset 0px 0px 4px rgba(255, 255, 255, .2);
}

.text {
  width: 80%;
  height: auto;

  h1 {
    font-size: 1.5em;
    font-weight: 600;
  }

  p {
    margin-top: 2em;
    line-height: 1.45em;
  }
}

.btn {
  margin-top: 2em;
  margin-bottom: 2em;
  display: flex;
  flex-direction: column;

  .cta {
    width: 100px;
    height: 33px;
    text-decoration: none;
    background: $bg-card;
    color: #fff;
    padding: 10px 63px;
    border-radius: 25px;
    font-weight: 600;
    box-shadow: 0 10px 15px rgba(55, 84, 170, .25);
  }
}

.tooltip {
  position: relative;
}

.tooltip .tooltip-text {
  display: flex;
  justify-content: center;
  align-items: center;
  visibility: hidden;
  width: 120px;
  background-color: #333;
  color: #fff;
  text-align: center;
  border-radius: 25px;
  padding: 5px 0 6px 0;
  position: absolute;
  top: -40px;
  left: calc(50% - 60px);
  z-index: 1;
  font-size: .7em;
  opacity: 0;
  box-sizing: border-box;
}

.tooltip:hover .tooltip-text {
  visibility: visible;
  opacity: 1;
  transition: opacity 399ms ease;
}
