<section>
  <div class='container'>
    <div class="title">
      <h2>
        Happening now
      </h2>
    </div>
    <div class='box'>
      <div class='text'>
        <h1 class=''>Discover your next alternative.</h1>
        <p>Colour contrast between text and background is important on web
          pages. It affects some people’s ability to perceive the
          information (in other words to be able to receive the
          information visually).</p>
      </div>
      <div class='btn'>
        <div class='tooltip'>
          <a routerLinkActive='/home' target="_blank" class='cta'>
            Read more
          </a>
          <span class='tooltiptext'>open new page</span>
        </div>
      </div>
    </div>
  </div>
</section>