<app-navbar></app-navbar>
<app-post-news></app-post-news>
<section data-theme="default">
  <div class="comment-wrapper">
    <div class="container">
      <div class="center-block">
        <div class="box-theme-option">
          <div class="box-theme-option-inner">
            <div class="addonz-form-inline">
              <label class="addonz-switch">
                <input class="addonz-switch-input dark" type="checkbox" /><span
                  class="addonz-switch-inner">Light</span>
              </label>
            </div>
            <app-color-palette></app-color-palette>
          </div>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="center-block">
        <app-media-comment></app-media-comment>
        <app-media-comment></app-media-comment>
      </div>
    </div>
  </div>
</section>
<app-footer></app-footer>