$bg: #EDF2F0;
$neu-1: #ecf0f3;
$neu-2: #d1d9e6;
$white: #f9f9f9;
$gray: #a0a5a8;
$black: #181818;
$primary: #4B70E2;
$purple: #7F56E3;
$info: #40BEE3;

$transition: 1.25s;

.container {
  transition: $transition;
}

.form {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;

  &__icon {
    object-fit: contain;
    width: 30px;
    margin: 0 5px;
    opacity: .5;
    transition: .15s;

    &:hover {
      opacity: 1;
      transition: .15s;
      cursor: pointer;

    }
  }

  &__input {
    width: 350px;
    height: 40px;
    margin: 4px 0;

    padding-left: 25px;
    font-size: 13px;
    letter-spacing: .15px;
    border: none;
    outline: none;

    font-family: 'Montserrat', sans-serif;
    background-color: $neu-1;
    transition: .25s ease;
    border-radius: 8px;

    box-shadow: inset 2px 2px 4px $neu-2,
    inset -2px -2px 4px $white;

    &:focus {
      box-shadow: inset 4px 4px 4px $neu-2,
      inset -4px -4px 4px $white;
    }
  }

  &__span {
    margin-top: 30px;
    margin-bottom: 12px;
  }

  &__link {
    color: $black;
    font-size: 15px;
    margin-top: 25px;
    border-bottom: 1px solid $gray;
    line-height: 2;
  }
}
